/*body {
  background: none repeat scroll 0 0 #e5e5e5;
  font-family: Arial;
}*/

/*.main-container {
  margin: 0 auto;
  width: 1300px;
  background: none repeat scroll 0 0 #FFFFFF;
  padding-bottom: 47px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
}*/
.contenthover { padding:10px 10px 10px 10px;
height: 30px; }
.contenthover, .contenthover h3, contenthover a { color:#fff; }
.contenthover h3, .contenthover p { margin:0 0 10px 0; line-height:1.4em; padding:0; }
.contenthover a.mybutton { display:block; float:left; padding:5px 10px; background:#3c9632; color:#fff; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.contenthover a.mybutton:hover { background:#34742d }

.adv-item {
  max-width: 340px;
  min-height: 200px;
}

.container.moi{
  margin-top: 65px;
}

.adv-info {
  padding: 10px;
  /*border: 1px solid black;*/
  /*border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;*/
}

.adv-image {

}

.adv-image img {
  max-width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.adv-title {
  font-size: 14px;
}

.adv-separator {
  border-bottom: 1px solid black;
  margin-top: 5px;
  margin-bottom: 5px;
}

.adv-description {
  font-size: 13px;
}

.more-loader {
  margin-top: 20px;
  text-align: center;
}

.clear {
  clear: both;
}


/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
