
{% extends 'base.html' %}


{% block content %}

  <section class="span4">
      <img id="d1" src="http://placekitten.com/g/300/240">
  <section class="contenthover">
  <h3>Lorem ipsum dolor</h3>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pulvinar ante quis augue lobortis volutpat. </p>
    <p><a href="#" class="mybutton">Lorem ipsum</a></p>
</section>
    </section>

    {% endblock %}
{% load static %}
    {% block javascript %}
    
	<script type="text/javascript">
		$('#d1').contenthover({
		effect:'slide',
    slide_speed:300,
    overlay_background:'#000',
    overlay_opacity:0.8,
    overlay_width:270,
    overlay_height:80
	});
	</script>
  
    {% endblock%}


