<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >

	{% load static %}

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Hello, world{% endblock %}</title>
        {% block css%}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        {% endblock %}
    </head>

    <body>
        
        <div role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/adv/" class="navbar-brand">Salesfor.me</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/adv/">Главная</a></li>
            <li><a href="/about/">О нас</a></li>
            <li><a href="/contacts/">Контакты</a></li>
            <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">Категории <b class="caret"></b></a>
              <ul class="dropdown-menu">
                    {% include 'category/list.html' with category_list=category_list %}
                  </ul>
            </li>
          </ul>
        
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container moi" >
    <div class="jumbotron">

      	{% block content %}
          
        {% endblock %}
        </div>
    </div>
        {% block mustjs%}
          <script src="{% static 'js/jquery.js' %}"></script>
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.contenthover.min.js' %}"></script>

        {% endblock %}

        {% block javascript %}
        {% endblock %}
        <script type="text/javascript">
        $("img").each(function() {
            if(this.id != "") {
                $('#'+this.id).contenthover({
                    effect:'slide',
                    slide_speed:300,
                    overlay_background:'#000',
                    overlay_opacity:0.8,
                    overlay_width:300,
                    overlay_height:80
                  });
            }
        });
        
  </script>
     

    </body>
</html>

