<h2>Create Advert Form</h2>

<form action='' method='post' enctype="multipart/form-data">{% csrf_token %}
	<table>
	{% for field in form.visible_fields %}
		<tr>
			<td>{{ field.label_tag }}</td>
			<td>{{ field }}</td>
		</tr>

		{% if field.errors %}
		<tr>
			<td colspan="2">
				<div style="color:red">{{ field.errors }}</div>
			</td>
		</tr>
		{% endif %}
	{% endfor %}

		<tr>
			<td colspan="2">
				<input type="submit" value="Create">
			</td>
		</tr>
	</table>
</form>