{% for adv in adv_list %}
<!-- 	<div class="adv-item">
		<div class='adv-image'><img src="{{ MEDIA_URL }}{{ adv.image }}"></div>
		<div class='adv-info'>
			<div class='adv-title'>{{ adv.title }}</div>
			<div class='adv-separator'></div>
			<div class='adv-description'>{{ adv.description }}</div>
		</div>
	</div> -->

	<div class="row">
	  <div class="col-sm-6 col-md-4 adv-item" >
	    <div class="thumbnail">
	      <img  id="adv{{adv.id}}" src="{{ MEDIA_URL }}{{ adv.image }}" alt="...">
	      <div class="contenthover">
	        <h4>{{ adv.title }}</h4>
	        <small>{{ adv.description }}</small>
	      </div>
	    </div>
	  </div>
	  
	  
	</div>

    

 
	



{% endfor %}