{% extends 'base.html' %}

{% block title %} Все скидки на сегодня {% endblock %}

{% block content %}
	
			<div id="container">
				{% include 'advert/enumerate.html' with adv_list=adv_list %}
			
		<div class="clear"></div>
	</div>
	{% if category %}
		<input type="hidden" id="category_id" value="{{ category.id }}">
	{% else %}
		<input type="hidden" id="category_id" value="0">
	{% endif %}
	<div class="more-loader"></div>
{% endblock %}

{% load static %}

{% block javascript %}
	<script src="{% static 'js/jquery.isotope.js' %}"></script>
	<script src="{% static 'js/aligner.js' %}"></script>


	
{% endblock %}
	
	



